

.main_form-cont{
  
  margin: initial;
  width: fit-content;
  width: 46vw;
  margin: auto;
  overflow: hidden;
  margin-top: -84px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.form_cont {
  margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: inherit;

}
 .label{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* row-gap: 10px; */
  margin: 5px;
}
.input{
  width: 70%;
  padding: 5px;  
}
.input-buton{
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: auto;
}

/* view table */
.main_view_container {
    width: 90vw;
    margin: auto;
    border: 2px solid burlywood;
    padding: 5px;
    margin-top: -5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Table Header */
  .table thead th {
    width: fit-content;
    background-color: #978c8c;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
  }
  
  /* Table Body */
  .table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Alternating Row Colors */
  .table tbody tr:nth-child(even) {
    background-color: #1d1a1a;
  }
  
  /* Hover Effect */
  .table tbody tr:hover {
    cursor: pointer;
    background-color: #e6e6e6;
  }